.text-img-button {
  background: none;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  padding: 0;
  height: 24px;
  width: 24px;

  svg {
    width: 24px;
    height: 24px;
  }
}

.text-img-button:hover {
  transition: 0.5s;
}