.text-gif-mask-content {
    flex: 1;
    .text-gif-mask-tool {
        position: absolute;
        bottom: 0;
        height: 50px;
        display: flex;
        justify-content: center;
        width: -webkit-fill-available;
    }
}